# ========== UNITY ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Auto generated solution/project files
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Burst debug folder
*BurstDebugInformation*

# Builds
*.app
*.exe
*.apk
*.aab
*.unitypackage

# Mac
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/